# Created by http://gitignore.io
data/

### Java ###
*.class

# Package Files #
*.war
*.ear

### Maven ###
target/

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/

build.xml
build.properties

/series.json
/humidity.csv
/barometer.csv
/ambientlight.csv
/temperature.csv
/table.json