# Created by http://gitignore.io
data/

### Java ###
*.class

# Package Files #
*.war
*.ear

### Maven ###
target/

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
build.properties

