Label {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 2, 0.9, 0, 0);
    -fx-text-fill: white;
}

#AnchorPane {
    -fx-background-color: #0041A9;
}

.largeButton {
    -fx-padding: 7;
}

.tile {
    -fx-background-color: linear-gradient(from 0% 0% to 70% 100%, 
        #0A5BC4, #1A6BD4);
    -fx-background-insets: 7;
}

.tileNoBottom {
    -fx-background-color: linear-gradient(from 0% 0% to 70% 0%, 
        #0A5BC4, #1A6BD4);
    -fx-background-insets: 7 7 0 7;
}

.tileNoTop {
    -fx-background-color: linear-gradient(from 0% 0% to 70% 0%, 
        #0A5BC4, #1A6BD4);
    -fx-background-insets: 0 7 7 7 ;
}

.tilecontent {
    -fx-padding: 10px 30px 10px 30px;
}

#title {
    -fx-font: bold 70px "System";
}

#clock {
    -fx-font: bold 50px "System";
}

.subhead {
    -fx-font: bold 45px "System";
    -fx-alignment: center;
}

.dataGrid {
}

.gridValue{
    -fx-font: bold 27px "System";
}

.gridLabel, .gridHead {
    -fx-text-fill: white;
    -fx-font: bold 30px "System";
}

.gridValueBig{
    -fx-font: bold 70px "System";
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: transparent;  
}

#diagramPane {}

#diagramHead {
    -fx-padding-left: 7;
    -fx-text-fill: white;
    -fx-font: bold 35px "System";
}

.chart {
    -fx-legend-visible: false;
    -fx-padding: 0 25 15 25;
}

.chart-vertical-grid-lines {
    -fx-stroke: #654b00;
}

.chart-horizontal-grid-lines {
    -fx-stroke: white;
}

.chart-plot-background {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #1080e0, #005090);
}

.chart-alternative-row-fill {
    -fx-fill: linear-gradient(from 0% 0% to 100% 0%, #10a0e0, #007090);
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-opacity: 1;
    -fx-tick-label-font: bold 20px "System";
    -fx-tick-label-fill: white;
}

.default-color0.chart-series-line { 
    -fx-stroke: #eeeeff; 
}

.chart-line-symbol { 
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: darkblue, lightblue; 
    -fx-background-insets: 0, 3;
}