Label {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 2, 0.9, 0, 0);
    -fx-text-fill: white;
}

#AnchorPane {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, 
        hsb(213, 100%, 23%), hsb(213, 100%, 43%));
}

.largeButton {
    -fx-padding: 10;
}

.tile {
    -fx-background-color: #2b5797;
    -fx-background-insets: 10;
}

.tileNoBottom {
    -fx-background-color: #2b5797;
    -fx-background-insets: 10 10 0 10;
}

.tileNoTop {
    -fx-background-color: #2b5797;
    -fx-background-insets: 0 10 10 10;
}

.tilecontent {
    -fx-padding: 10px 30px 10px 30px;
}

#title {
    -fx-font: bold 70px "System";
}

#clock {
    -fx-font: bold 50px "System";
}

.row1 {
    -fx-font: bold 50px "System";
}

#date {
    -fx-text-alignment: left;
}

#bigChartTitle{
    -fx-text-alignment: center;
}


.dataGrid {
    -fx-padding-bottom:20px;
}

.gridValue{
    -fx-font: bold 32px "System";
}

.gridLabel, .gridHead {
    -fx-font: bold 32px "System";
}

#bigValue {
    -fx-font: bold 70px "System";
    -fx-alignment: top-center;
    -fx-text-alignment: center;
}

#diagramPane {
    /*-fx-padding: 10px 20px 10px 20px;*/
}

#diagramHead {
    -fx-text-fill: white;
    -fx-font: bold 35px "System";
    -fx-padding: 15px 0px 10px 30px;
}

.chart {
    -fx-padding: 10px 35px 15px 30px;
    -fx-legend-visible: false;
}

.chart-vertical-grid-lines {
    -fx-stroke: #654b00;
}

.chart-horizontal-grid-lines {
    -fx-stroke: white;
}

.chart-plot-background {
    -fx-background-color: #2a6096;
}

.chart-alternative-row-fill {
    -fx-fill: #2a7296;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-opacity: 1;
    -fx-tick-label-font: bold 20px "System";
    -fx-tick-label-fill: white;
}

.default-color0.chart-series-line { 
    -fx-stroke: #eeeeff; 
}

.chart-line-symbol { 
    -fx-padding: 5px;
    -fx-background-radius: 4px;
    -fx-background-color: hsb(213, 100%, 53%), hsb(213, 100%, 73%); 
    -fx-background-insets: 0, 2;
}