Label {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 2, 0.9, 0, 0);
    -fx-text-fill: white;
    -fx-font-family: System;
    -fx-font-weight: bold;
}

#AnchorPane {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, 
        hsb(213, 100%, 33%), hsb(213, 100%, 43%));
}

.largeButton {
    -fx-padding: 10;
}

.tile {
    -fx-background-color: hsb(216, 72%, 59%, 0.8);
/*    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%,
        rgba(197,222,234,0.2) 0%, rgba(138,187,215,0.2) 31%, rgba(6,109,171,0.2) 100%);*/
    -fx-background-insets: 10;
}

.tileNoBottom {
    -fx-background-color: hsb(216, 72%, 59%, 0.8);
    -fx-background-insets: 10 10 0 10;
}

.tileNoTop {
    -fx-background-color: hsb(216, 72%, 59%, 0.8);
    -fx-background-insets: 0 10 10 10;
}

.tilecontent {
    -fx-padding: 10px 30px 10px 30px;
}

#title {
    -fx-font-size: 70px;
}

#clock {
    -fx-font-size: 50px;
}

.row1 {
    -fx-font-size: 50px;
}

#date {
    -fx-text-alignment: left;
}

#bigChartTitle{
    -fx-text-alignment: center;
}


.dataGrid {
    -fx-padding-bottom:20px;
}

.gridValue{
    -fx-font-size: 32px;
}

.gridLabel, .gridHead {
    -fx-font-size: 32px;
}

#bigValue {
    -fx-font-size: 70px;
    -fx-alignment: top-center;
    -fx-text-alignment: center;
}

#diagramPane {
    /*-fx-padding: 10px 20px 10px 20px;*/
}

#diagramHead {
    -fx-text-fill: white;
    -fx-font-size: 35px;
    -fx-padding: 15px 0px 10px 30px;
}

.chart {
    -fx-padding: 10px 35px 15px 30px;
    -fx-legend-visible: false;
}

.chart-vertical-grid-lines {
    -fx-stroke: #654b00;
}

.chart-horizontal-grid-lines {
    -fx-stroke: white;
}

.chart-plot-background {
    -fx-background-color: hsb(210, 72%, 59%, 0.7);
}

.chart-alternative-row-fill {
    -fx-fill: hsb(200, 72%, 59%, 0.7);
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-opacity: 1;
    -fx-font-size: 20px;
    -fx-tick-label-fill: white;
}

.default-color0.chart-series-line { 
    -fx-stroke: #eeeeff; 
}

.chart-line-symbol { 
    -fx-padding: 5px;
    -fx-background-radius: 4px;
    -fx-background-color: hsb(213, 100%, 53%), hsb(213, 100%, 73%); 
    -fx-background-insets: 0, 2;
}